<div class="card p-4">
    <div class="d-flex justify-content-between header py-4">
        <h3>All employees</h3>
        <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search any fields" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees | searchFilter:searchText">
                <th scope="row">{{employee.id}}</th>
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
            </tr>
        </tbody>
    </table>
</div>