<div class="wrapper bg-transparent text-center">
    <div class="card text-center">
        <h6 class="card-header">Welcome to Azarc</h6>
        <div class="card-block">
            <img class="appLogo" src="{{logo}}">
        </div>

        <div class="card-block d-flex align-items-center justify-content-center">
            <p class="card-text my-3 me-2">Get Started with</p>

            <asl-google-signin-button text="signin_with" type='icon' size='medium'>

            </asl-google-signin-button>
        </div>
    </div>
</div>